@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
@import url(./__description/cards__desctription.css);

.cards {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 240px);
  column-gap: 100px;
  justify-content: center;
}
