@import url(./__columns/footer__columns.css);
@import url(./__column/footer__column.css);
@import url(./__column/_content/_copyright/footer__column_content_copyright.css);
@import url(./__author/footer__author.css);
@import url(./__column-heading/footer__column-heading.css);
@import url(./__column-links/footer__column-links.css);
@import url(./__link/footer__link.css);
@import url(./__social-icons/footer__social-icons.css);

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
